body{
  margin: 0;
  padding-top: 0%;
  border: 0;
}
html{
  /* overflow-x: hidden; */
  overflow: hidden;
}

h1, h2, p {
  font-family:  sans-serif;
}

img{
  width: 10% ;
  height: 10%;
}

.container {
  height: 100vh;
  padding: 2% 0;
  display: grid;
  grid-template-columns: 30% 70%; 
  gap: 20px;
}

.navgation{
  text-align: center;
  padding: 20px 0;

  background-color: rgb(40, 40, 39);
  border-top-right-radius: 20px;
  height: 100vh;
}

.navgation h1{
  color: white;
  font-weight: 600;
  font-size: 1.8rem;
}
.main-btn{
  padding: 10px 20px;
  border-style: none;
  border-radius: 10px;
  color: rgb(174, 176, 178);
  background-color: rgb(100, 93, 85);
  border-width: 0;
}

/* .navgation ul {
  padding-top: 40px;
  display: grid;
  grid-template-columns: 100%;
} */
/* .navgation ul {
  height: 40px;
  margin-bottom: 10px;
  background-color: transparent;
  font-size: 1.2rem;
} */

.navgation ul{
  /* margin: 0; */
  padding: 0;
  /* border: 0; */
}

.navgation li {
  list-style-type: none;
}
li button{
  padding: 10px 20px;
  margin: 10px;
  border-style: none;
  border-radius: 10px;
  color: rgb(193, 194, 197);
  background: transparent;
  border-width: 0;
  width: 90%;
  letter-spacing: 0.2rem;
  transition: all ease 500ms;
}
ul li button{
  font-size: 0.9rem;
}
ul li button:hover{
  color: white;
  background-color: rgb(53, 53, 53);
}
.navgation .active {
  color: white;
  background-color: rgb(53, 53, 53);
}

.work-space{
  padding: 14% 0;
  text-align: center;
  height: fit-content;
}

.work-space p{
  letter-spacing: 2px;
  color: rgb(144, 141, 136);
}

.work-space button{
  margin-top: 5px;
  padding: 20px 40px;
  border-radius: 10px;
  border-style: none;
  color: rgb(169, 165, 159);
  background-color: rgb(66, 66, 66);
  transition: all ease 500ms;
}
.work-space button:hover{
  margin-top: 0;
  font-size: 0.8rem;
  letter-spacing: 0.4rem;
  padding: 25px 45px;
  background-color: rgb(108, 103, 103);
  color:rgb(230, 233, 236)
  
}

/* NewProject componet css */

.form{
  gap: 10px;
  padding: 50px 150px 50px 0; 
}


.form menu{
  display: flex;
  justify-content: end;
}
menu li{
  list-style-type: none;
}

menu button {
  border: 1px none;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: white;
}

.form div{
  display: flex;
  flex-direction: column;
}

/* input componet css */
.input, textarea{
  height: 90px;
  padding: 20px;

}

.input label{
  height: 60x;
  font-family: Courier, monospace;
}

input{
  height: 50px;
  font-family: Courier, monospace;
  font-weight: 600;
}


/* selection componet css */

#selection-page {
  padding: 50px;
}

.selection-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  
}
.selection-top h1{
  font-size: 2rem;
  margin: 0;
}

#selection-page button{
  border: 0 none ;
  background-color: white;
}

.selection-task{
  height: 100%;
  margin: 20px 0;
  border-radius: 10px;
  padding: 15px 10px;
  background-color: rgba(179, 190, 195, 0.139);
  
}
.selection-task p{
  font-size: smaller;
}

dialog {
  border-radius: 10px;
  border-style: none;
  
}

dialog::backdrop{
  background-color: rgba(58, 61, 62, 0.5);
  backdrop-filter: 0.2;

}